### Importing Necessary Modules

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('food_data.csv')

### DataFrame of food_data.csv file

In [3]:
df

,Food Name,Price,City,Color,Cuisine,Taste
0,Dhokla,30,Ahemdabad,Yellow,Gujrati,sweet and spicy
1,Noodles,70,Jaipur,Orange,Chinese,spicy
2,Pasta,80,Mumbai,white,Mexican,moderate sweet
3,Dal Bati,50,Jaipur,Brown,Rajasthani,spicy
4,Masal Dosa,80,kochi,brown,South Indian,spicy
5,Momos,70,Gangtok,white,North eastern,spicy
6,Misal Pav,40,Bandra,brown,maharashtrian\t,spicy
7,Rosogulla,100,kolkata,white,Bengali,sweet
8,Appam,90,kollam,brown,South indian,sweet
9,Lassi,50,Jhalandar,white,punjabi,sweet
10,idli sambhar,80,kochi,white,South Indian,spicy
11,Mysore Pak,120,Mysuru,yellow,South Indian,sweet
12,Ghevar,150,Jaipur,orangish brown,Rajasthani,sweet
13,Biryani,80,Secunderabad,Yellow,South Indian,spicy
14,Paneer,100,Gurugram,white,North western,spicy
15,Aloo Paratha,80,New Delhi,Brownish,North western,moderate spicy
16,Gulab Jamun,110,Jodhpur,Brown,rajasthani,sweet
17,Ker sangari,90,Jaipur,Brown,Rajasthani,moderate spicy
18,Besan ke gatte,80,Jhodpur,Orange,Rajasthani,spicy

In [103]:
df.head(5)

    Food Name  Price       City   Color       Cuisine            Taste
0      Dhokla     30  Ahemdabad  Yellow       gujrati  sweet and spicy
1     Noodles     70     Jaipur  Orange       chinese            spicy
2       Pasta     80     Mumbai   white       mexican   moderate sweet
3    Dal Bati     50     Jaipur   Brown    rajasthani            spicy
4  Masal Dosa     80      kochi   brown  south indian            spicy

In [104]:
df.describe()

            Price
count   19.000000
mean    81.578947
std     28.335913
min     30.000000
25%     70.000000
50%     80.000000
75%     95.000000
max    150.000000

### No Null data in given dataset

In [106]:
df.isnull().sum()

Food Name    0
Price        0
City         0
Color        0
Cuisine      0
Taste        0
dtype: int64

In [5]:
df.columns

Index(['Food Name', 'Price', 'City', 'Color', 'Cuisine', 'Taste'], dtype='object')

In [6]:
arr = df.values

In [85]:
arr.shape

(19, 6)

In [8]:
arr.size

114

In [9]:
c=df[['Cuisine','Price']][df['Price']>70]

In [10]:
d={}

In [11]:
u= c['Cuisine'].unique()
u

array(['Mexican', 'South Indian', 'Bengali', 'South indian', 'Rajasthani',
       'North western', 'rajasthani'], dtype=object)

In [12]:
df['Cuisine'].value_counts()

South Indian       4
Rajasthani         4
North western      2
punjabi            1
North eastern      1
Chinese            1
Gujrati            1
Bengali            1
rajasthani         1
Mexican            1
maharashtrian\t    1
South indian       1
Name: Cuisine, dtype: int64

### Costliest Food

In [13]:
df[['Food Name','Price']][df["Price"]==df["Price"].max()]

   Food Name  Price
12    Ghevar    150

### Cheapest Sweet

In [14]:
df['Food Name'][(df['Taste']=='sweet') & (df['Price'] == df['Price'][df['Taste']=='sweet'].min())]

9    Lassi
Name: Food Name, dtype: object

### Sweet found in kolkata

In [15]:
df['Food Name'][(df['Color']=='white') & (df['City']=='kolkata')]

7    Rosogulla
Name: Food Name, dtype: object

### Most Popular Cuisine

In [16]:
c=df['Cuisine'].value_counts()
c

South Indian       4
Rajasthani         4
North western      2
punjabi            1
North eastern      1
Chinese            1
Gujrati            1
Bengali            1
rajasthani         1
Mexican            1
maharashtrian\t    1
South indian       1
Name: Cuisine, dtype: int64

In [17]:
df['Cuisine'][df['Cuisine'].value_counts().max()]

'South Indian'

In [18]:
df['Cuisine'].replace({'maharashtrian\t':'maharashtrian'},inplace=True)

In [19]:
def func(x):
    return np.count_nonzero(df['Cuisine']==x)

In [40]:
cuisines_count= list(set([(func(i),i) for i in df['Cuisine'].values]))

In [41]:
cuisines_count.sort(reverse=True)

In [42]:
cuisine_count= [i[::-1] for i in cuisines_count ]

In [43]:
cuisine_count

[('South Indian', 4),
 ('Rajasthani', 4),
 ('North western', 2),
 ('rajasthani', 1),
 ('punjabi', 1),
 ('maharashtrian', 1),
 ('South indian', 1),
 ('North eastern', 1),
 ('Mexican', 1),
 ('Gujrati', 1),
 ('Chinese', 1),
 ('Bengali', 1)]

In [45]:
most_popular_cuisine=pd.DataFrame(cuisine_count,columns=['City','Count'])

In [48]:
most_popular_cuisine['City'][most_popular_cuisine['Count']==most_popular_cuisine['Count'].max()]

0    South Indian
1      Rajasthani
Name: City, dtype: object

### Count of Different Tastes

In [50]:
df['Taste'].value_counts()

spicy              9
sweet              6
moderate spicy     2
moderate sweet     1
sweet and spicy    1
Name: Taste, dtype: int64

### Sweet available in Jaipur

In [55]:
df['Food Name'][(df['City']=='Jaipur') & (df['Taste']=='sweet')]

12    Ghevar
Name: Food Name, dtype: object

### All unique Cities list

In [56]:
df['City'].unique()

array(['Ahemdabad', 'Jaipur', 'Mumbai', 'kochi', 'Gangtok', 'Bandra',
       'kolkata', 'kollam', 'Jhalandar', 'Mysuru', 'Secunderabad',
       'Gurugram', 'New Delhi', 'Jodhpur', 'Jhodpur'], dtype=object)

### Top 5 Most Expensive spicy food

In [75]:
df[['Food Name','Price']][df['Taste']=='spicy'].sort_values(by='Price',ascending=False).head(5)

         Food Name  Price
14          Paneer    100
4       Masal Dosa     80
10    idli sambhar     80
13         Biryani     80
18  Besan ke gatte     80

### Top 5 most Expensive food

In [82]:
df[['Food Name','Price']].sort_values(by='Price',ascending=False).head(5)

      Food Name  Price
12       Ghevar    150
11   Mysore Pak    120
16  Gulab Jamun    110
7     Rosogulla    100
14       Paneer    100

### City where i can find Momos

In [84]:
df['City'][df['Food Name']=='Momos']

5    Gangtok
Name: City, dtype: object

In [96]:
#df['Cuisine']=df['Cuisine'].apply(lambda x:x.lower())

### list all rajasthani cuisine

In [102]:
df['Cuisine']=df['Cuisine'].apply(lambda x:x.lower())

In [101]:
df[df['Cuisine']=='rajasthani']

,Food Name,Price,City,Color,Cuisine,Taste
3,Dal Bati,50,Jaipur,Brown,rajasthani,spicy
12,Ghevar,150,Jaipur,orangish brown,rajasthani,sweet
16,Gulab Jamun,110,Jodhpur,Brown,rajasthani,sweet
17,Ker sangari,90,Jaipur,Brown,rajasthani,moderate spicy
18,Besan ke gatte,80,Jhodpur,Orange,rajasthani,spicy